* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    background-image: url("bild.jpg");
    background-image: no-repeat;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .login {
        background-color: #000000;
        color: white;
        font-size: 20px;
        font-family: Avenir-Light, Arial, Helvetica, sans-serif;
        padding: 9px;
        border-radius: 14px;
        border: 1.4px solid white;
        text-decoration: none;

        &:hover {
            background-color: white;
            color: black;
            cursor: pointer;
        }
    }
}